.hpbackground{
    /* background-image: url("./public/img/background.jpg"); */
    background: rgb(0,96,140);
    background: linear-gradient(180deg, rgba(0,96,140,1) 0%, rgba(0,139,139,1) 100%);
    height: 410px;
}
.separador-hp{
    background: linear-gradient(180deg, rgba(0,139,139,1) 0%, #F18805 100%);
    height: 90px;
}
.about-us{
    background: rgb(0,96,140);
    background: linear-gradient(180deg, rgba(0,96,140,1) 0%, rgba(0,139,139,1) 100%);
    padding-top: 2%;
}
.template-body{
    padding-top: none !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .texto-descripcion{
         font-size: 1rem;
         line-height: 1rem;
         margin-top: 1rem;
     } 
     .hpbackground{
        height: 189px;
     }

    .btn-cta{
        margin-top: 12px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .trainer-img{
        height: 500px;
        width: auto;
    }
    .texto-descripcion{
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-top: 8rem;
    }
    .btn-cta{
        height: 3.5rem;
        margin-top: 2.5rem;
        width: 80%;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .texto-descripcion{
        font-size: 1rem;
        line-height: 1rem;
    } 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .texto-descripcion{
        font-size: 2.25rem;
        line-height: 2.5rem;
    } 

    .btn-cta{
        height: 3.5rem;
        width: 80%;
        margin-top: 50px;
    }
}

