.nav-color{
    background-color:#00608C;/*#D63122;*/    
    font-size: larger;
   /* height: 50px;*/
}

.right-menu{
    background-color: #00608C;
}

.right-menu, a:link, a:visited, a:active {
 text-decoration: none;
 color: white;
 padding: 0px 5px 0px 10px;
}

a:hover{
    color: darkcyan;
    text-decoration:solid;
}
/* @media only screen and (min-width: 768px) {
    .menu-link{

    }
} */